# Default ignored files
*.iml
/shelf/
.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ
/out/
/target/
/src/main/filters/*
*.log

# mpeltonen/sbt-idea plugin
.idea_modules/